@charset "utf-8";

/* 공통 */
body {
  font-family: 'NotoSansCJKkr', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Tahoma,
    Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
  color: #1c1c1c;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: inherit;
}

/************** header **************/
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 10;
}

/* progress bar */
.progressBar_wrapper {
  position: fixed;
  top: 50%;
  left: 36px;
  transform: translateY(-50%);
  width: 2px;
  height: 200px;
  z-index: 10;
  background-color: #222;
}
.progressBar {
  width: 100%;
  height: 0;
  background-color: #ffe141;
}

/************** main **************/
#main {
  position: relative;
  /* min-height: 100vh; */
  padding: 88px 0 0;
  /* margin-bottom: -572px; */
}

/************** main_top **************/
#main #main_top_container {
  padding: 80px 0 250px;
  position: relative;
}

/* 스크롤 아이콘 */
#main_top_container .scroll {
  position: absolute;
  right: 0;
  top: 545px;
}
#main_top_container .scroll span {
  width: 90px;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 400px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main_top_container .scroll span::before {
  content: '';
  width: 30px;
  height: 45px;
  background: url(../images/index_1/ico-scroll-arrow.svg) no-repeat center / contain;
  transform: rotate(90deg);
}

/* main_top_inner */
#main #main_top_container .top_inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

#main_top_container .top_inner .top_txt_wrapper {
  width: 1600px;
  padding: 160px 0 0 120px;
  position: absolute;
  top: 0;
  z-index: 1;
}
#main_top_container .top_inner .top_txt_wrapper .top_txt_box {
  width: 1480px;
}

#main_top_container .top_inner .top_txt_wrapper .top_txt_box #top_txt2 {
  padding-left: 130px;
}

#main_top_container .top_txt {
  font-family: 'Lora';
  font-size: 120px;
  font-weight: 700;

  display: flex;
  align-items: flex-end;
  gap: 8px;
  line-height: 1;
}

#main_top_container .top_txt::after {
  content: '';
  width: 16px;
  height: 16px;
  margin-bottom: 7px;
  background-color: #ffe141;
  border-radius: 50%;
  box-sizing: border-box;
}
#main_top_container .top_inner .top_txt_wrapper p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
  line-height: 1.4;
}

/* main_top_배경 */
#main_top_container .top_inner .top_bg_wrapper {
  width: 1600px;
  padding-left: 416px;

  display: flex;
  justify-content: flex-end;
}
#main_top_container .top_inner .top_bg_wrapper > div {
  min-width: 636px;
  max-width: 636px;
  height: 636px;
  border-radius: 50%;

  flex-shrink: 0;

  position: relative;
}

#main_top_container .top_inner .top_bg_wrapper .top_bg_left {
  border: 1px solid rgb(28, 28, 28);
  box-sizing: border-box;
  left: 200px;
  transition: 0.2s ease;
}
#main_top_container .top_inner .top_bg_wrapper .top_bg_right {
  top: 160px;
  transition: 0.2s ease;
}
#main_top_container .top_inner .top_bg_wrapper .top_bg_right .video_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
#main_top_container .top_inner .top_bg_wrapper .top_bg_right .video_wrapper video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
}
#main_top_container .top_inner .top_bg_wrapper .top_bg_right .video_wrapper video.active {
  opacity: 1;
}

/************** main_highlights **************/
#main_highlights {
  position: relative;
  padding: 80px 0 165px;
  overflow: hidden;
}

/* main_highlights_배경 */
#main_highlights .highlights_bg {
  background-color: rgba(245, 245, 245, 0.6);
  width: 100%;
  height: 1760px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  opacity: 0;
  transition: 1.5s;
}
/* main_highlights 배경 스크롤 이벤트 */
#main_highlights .highlights_bg.active {
  transform: scale(1);
  opacity: 1;
}
/* main_highlights_배경 글자 */
#main_highlights .highlights_flow_txt {
  position: absolute;
  top: 35%;
  right: -70%;
  z-index: -1;
  /* transition: 10s; */
}
#main_highlights .highlights_flow_txt span {
  display: block;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 200px;
  line-height: 1.05;
  color: rgba(221, 221, 221, 0.5);
  white-space: nowrap;
  cursor: default;
}
#main_highlights .highlights_flow_txt span:last-child {
  padding-left: 580px;
}
#main_highlights .highlights_inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

/* main_highlights_타이틀 */
#main_highlights .highlights_inner h2 {
  font-family: 'Lora';
  font-size: 100px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  line-height: 1;
  transform: translateX(-10%);
  opacity: 0;
  transition: 1.5s;
}
#main_highlights .highlights_inner h2::after {
  content: '';
  width: 16px;
  height: 16px;
  margin-bottom: 7px;
  background-color: #ffe141;
  border-radius: 50%;
  box-sizing: border-box;
}

/* main_highlights 타이틀 스크롤 이벤트 */
#main_highlights .highlights_inner h2.active {
  transform: translateX(0);
  opacity: 1;
}
/* main_highlights 슬라이드 */
#main_highlights .highlights_slide_container {
  width: 1192px;
  margin: 0 0 0 auto;
  overflow: hidden;
}
#main_highlights .highlights_slide_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  box-sizing: content-box;
  transform: translateX(10%);
  opacity: 0;
  transition: 2s;
}
/* main_highlights 슬라이드 스크롤 이벤트 */
#main_highlights .highlights_slide_wrapper.active {
  transform: translateX(0);
  opacity: 1;
}

#main_highlights .highlights_slide_wrapper .hl_slide {
  width: 524px;
  height: 100%;
  margin-right: 144px;
  position: relative;
}
#main_highlights .highlights_slide_wrapper .hl_slide:nth-child(odd) {
  padding-top: 200px;
}
#main_highlights .highlights_slide_wrapper .hl_slide .hl_slide_list {
  display: flex;
  flex-direction: column;
  gap: 113px;
  padding-left: 20px;
}
#main_highlights .highlights_slide_wrapper .hl_slide .hl_slide_list li a {
  position: relative;
  width: 512px;
  display: block;
}
#main_highlights .highlights_inner .highlights_slide_wrapper .hl_slide_list li a h3 {
  font-family: 'Lora';
  font-size: 32px;
  font-weight: 600;
  text-align: right;

  position: absolute;
  left: -184px;
  top: 165px;
  width: 367px;
  transform: rotate(-90deg);
}
#main_highlights .highlights_inner .highlights_slide_wrapper .hl_slide_list .content_info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}
#main_highlights .highlights_inner .highlights_slide_wrapper .hl_slide_list li a span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #999;
}
#main_highlights .highlights_inner .highlights_slide_wrapper .hl_slide_list li a p {
  height: 68px;

  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.1px;
}

/* 슬라이드 스크롤바 */
#main_highlights .hl_scrollbar_wrapper {
  padding: 55px 0 16px;
  overflow: hidden;
}
#main_highlights .hl_scrollbar_wrapper .hl_scrollbar {
  background: #ddd;
  position: relative;
}
#main_highlights .hl_scrollbar_wrapper .hl_scrollbar .hl_scrollbar_drag {
  width: 763.905px;
  height: 2px;
  background: #222;
  position: relative;
  transition-duration: 0ms;
}
#main_highlights .hl_scrollbar_wrapper .hl_scrollbar .hl_scrollbar_drag::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #222;
  width: 2000px;
  margin-left: -2000px;
}
#main_highlights .hl_scrollbar_wrapper .hl_scrollbar .hl_scrollbar_drag::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(../images/index_1/ico-drag.svg) no-repeat center / contain;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/************** main_centers **************/
#main_centers {
  position: relative;
  padding-bottom: 150px;
  overflow: hidden;
}
#main_centers .centers_flow_txt {
  position: absolute;
  top: 15%;
  right: -70%;
  z-index: -1;
}
#main_centers .centers_flow_txt span {
  display: block;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 200px;
  line-height: 1.05;
  color: rgba(221, 221, 221, 0.5);
  white-space: nowrap;
  cursor: default;
}
#main_centers .centers_flow_txt span:last-child {
  padding: 420px 0 0 580px;
}
#main_centers .centers_inner {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

/* main_centers 타이틀 */
#main_centers .centers_inner h2 {
  font-family: 'Lora';
  font-size: 100px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  line-height: 1;
  margin-bottom: 80px;
  transform: translateX(-10%);
  opacity: 0;
  transition: 1.5s;
}
#main_centers .centers_inner h2::after {
  content: '';
  width: 16px;
  height: 16px;
  margin-bottom: 7px;
  background-color: #ffe141;
  border-radius: 50%;
  box-sizing: border-box;
}

/* main_centers 타이틀 스크롤 이벤트 */
#main_centers .centers_inner h2.active {
  transform: translateX(0);
  opacity: 1;
}
#main_centers .centers_inner .centers_slide_wrap {
  width: 9600px;
}
#main_centers .centers_inner .centers_slide_wrap .centers_slide_container {
  width: 1600px;
  height: 783px;
  position: relative;
  left: 0;
  top: 0;
  z-index: 999;
  transform: translateY(10%);
  transition: 2s;
  opacity: 0;
}
#main_centers .centers_inner .centers_slide_wrap .centers_slide_container.active {
  transform: translateY(0);
  opacity: 1;
}
#main_centers .centers_inner .centers_slide_wrap .slide_box {
  /* position: relative; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s 300ms;
  opacity: 0;
  z-index: 998;
  transform: translate3d(0, 5%, 0);
}

/* main_center 슬라이드 효과 */
#main_centers .centers_inner .centers_slide_wrap .slide_box.active {
  opacity: 1;
  z-index: 999;
  transform: translate3d(0, 0, 0);
}

#main_centers
  > .centers_inner
  > .centers_slide_wrap
  > .centers_slide_container
  > .slide_box
  > .info {
  width: 648px;
  border: 1px solid #1c1c1c;
  background-color: #fff;
  padding: 70px 60px;
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 50%;

  transition: 1s 0.8s;
  transform: translate3d(10%, -50%, 0);
  opacity: 0;
}
#main_centers
  > .centers_inner
  > .centers_slide_wrap
  > .centers_slide_container
  > .slide_box
  > .info.active {
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}
#main_centers .centers_inner .centers_slide_wrap .info h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.16px;
}
#main_centers .centers_inner .centers_slide_wrap .info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.16px;
  margin-top: 24px;
}
#main_centers .centers_slide_wrap .btn {
  font-family: 'Lora', serif;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#main_centers .centers_slide_wrap .btn .slide_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
#main_centers .centers_slide_wrap .btn .slide_btn .prev,
#main_centers .centers_slide_wrap .btn .slide_btn .next {
  text-indent: -9999px;
  width: 42px;
  height: 42px;
  border: #1c1c1c solid 1px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#main_centers .centers_slide_wrap .btn .slide_btn .prev::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../images/index_1/data_image_svg+xml\,….svg) no-repeat center / contain;
}
#main_centers .centers_slide_wrap .btn .slide_btn .next::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../images/index_1/data_image_svg+xml\,….svg) no-repeat center / contain;
  transform: rotate(180deg);
}
#main_centers .centers_slide_wrap .btn .slide_btn .page {
  display: block;
}
#main_centers .centers_slide_wrap .btn .view_all a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  padding-left: 24px;
}
#main_centers
  > .centers_inner
  > .centers_slide_wrap
  > .centers_slide_container
  > .slide_box
  > .info
  > .btn
  > .view_all
  > a
  > i {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  border-radius: 200px;
  background-color: #ffe141;
}
#main_centers
  > .centers_inner
  > .centers_slide_wrap
  > .centers_slide_container
  > .slide_box
  > .info
  > .btn
  > .view_all
  > a:hover
  > i {
  /* animation: center_i_mov 1s forwards; */
}
@keyframes center_i_mov {
  0% {
    transform: translate(0, 0);
    width: 48px;
  }
  30% {
    transform: translate(0, 0);
    width: 140px;
  }
  100% {
    width: 48px;
    transform: translate(110px, 0);
  }
}
#main_centers .centers_slide_wrap .btn .view_all a::after {
  content: '';
  width: 40px;
  height: 40px;
  background: url(../images/index_1/ico-arrow-right.svg) no-repeat center / contain;
}
/************** footer **************/
