@charset 'utf-8';

/* 공통 */
* {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  outline: 0;
}
html {
  line-height: 1.25;
  word-break: keep-all;
  scroll-behavior: smooth;
}
body {
  font-family: 'NotoSansCJKkr', 'Malgun Gothic', '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Tahoma,
    Verdana, Geneva, sans-serif, Apple Gothic, AppleGothic;
  color: #1c1c1c;
}
body.no_scroll {
  overflow: hidden;
}
img {
  vertical-align: middle;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
button {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: 0 0;
  padding: 0;
  margin: 0;
}

/* 상단 헤더 */
#header_nav_list {
  top: 100px;
  display: none;
  align-items: center;
}
#header_nav_list a {
  color: #999999;
  font-size: 16px;
  line-height: 1.6;
}
#header_nav_list li:last-of-type {
  position: relative;
}
#header_nav_list li:last-of-type:before {
  content: '';
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 1px;
  background-color: #1c1c1c;
}
#header_nav_list .solution_pop .solution {
  padding-left: 52px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.3s;
}
#header_nav_list .solution_pop.active .solution::after {
  transform: rotate(180deg);
}
#header_nav_list .solution_pop .solution::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url(./images/ico-arrow-down.svg) no-repeat center / contain;
  transition: 0.3s;
}
/* 페이지 목록 열림 */
#header_nav_list .solution_pop #header_solutions_nav_list {
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* 페이지 목록 */
#header_nav_list .solution_pop.active #header_solutions_nav_list {
  height: 188px;
  position: absolute;
  left: 32px;
  top: 35px;
  z-index: 1;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #1c1c1c;
  padding: 20px 24px;
  transform: scaleY(1);
  transform-origin: 50% 0;
  opacity: 1;
  transition: 0.3s;
}
#header_solutions_nav_list li {
  margin-top: 14px;
}
#header_solutions_nav_list li:first-of-type {
  margin-top: 0;
}
#header_solutions_nav_list li:last-of-type::before {
  display: none;
}
#header_solutions_nav_list li .strong {
  color: #000;
}
#header_solutions_nav_list li a:hover {
  color: #000;
  text-decoration: underline;
}
/* PROFESSIONALS에만 필요한 헤더 bg영역 */

/* .cover{
    background-image:url(./images/professonals-bg01.png);
    background-size: cover;
    background-position: center;
    height: 420px;
  } */
header {
  position: fixed;
  top: 0;
}
header .gnb_wrapper {
  /* flex-container */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 99;
  height: 100px;
  position: fixed;
  background-color: #fff;
}

header.on {
  height: 79px;
  box-shadow: 0px 0.7px 5.3px rgba(0, 0, 0, 0.012), 0px 4.9px 17.9px rgba(0, 0, 0, 0.018),
    0px 27px 80px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  z-index: 3;
  top: 0;
}

header.on h1,
header.on .header_container_right {
  display: none;
}
header.on .gnb_wrapper {
  top: 0;
}
header.on #header_nav_list {
  position: fixed;
  top: 0;
  left: 60px;
  z-index: 9999;
  background-color: #fff;
  padding: 26.7px 2000px 26.7px 60px;
  display: flex;
}
header.active {
  height: 179px;
  align-items: flex-start;
  padding-top: 37px;
  background-color: #fff;
  z-index: 3;
  top: 0;
}
header.active .gnb_wrapper {
  top: 0;
}

header.on.active #header_nav_list {
  top: 0;
  position: fixed;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  padding: 26.7px 2000px 26.7px 60px;
  display: flex;
  box-shadow: 0px 0.7px 5.3px rgba(0, 0, 0, 0.012), 0px 4.9px 17.9px rgba(0, 0, 0, 0.018),
    0px 27px 80px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
header.active #header_nav_list {
  top: 100px;
  position: fixed;
  left: 0;
  z-index: 2;
  background-color: #fff;
  padding: 26.7px 2000px 26.7px 60px;
  display: flex;
  box-shadow: 0px 0.7px 5.3px rgba(0, 0, 0, 0.012), 0px 4.9px 17.9px rgba(0, 0, 0, 0.018),
    0px 27px 80px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
/* 로고 */
header h1 {
  /* flex-item */
  margin-right: auto; /* 플렉스 아이템 개별 정렬 */
  margin-left: 40px;
  margin-top: 10px;
  width: 200px;
  height: 40px;
}
header h1 a {
  width: 200px;
  height: 40px;
  background: url(./images/ci.svg) no-repeat 50% / contain;
}
header .header_container_right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
header .header_container_right #list {
  /* flex-item / flex-container*/
  display: flex;
  align-items: center;
  gap: 40px;
}

/* 각각의 대메뉴 제목 */
header .header_container_right #list > li > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

/* 언어 설정 */
header .header_container_right .lang {
  position: relative;
  margin: 0 20px 0 60px;
  cursor: pointer;
  transition: 0.3s;
}
header .header_container_right .lang .korean {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 30px 0 22px;
  font-size: 14px;
}

/* 화살표 */
header .header_container_right .lang.active .korean::after {
  transform: rotate(180deg);
  top: 60%;
  transition: 0.3s;
}
header .header_container_right .lang .korean::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 50%;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  background: url(./images/ico-arrow-down.svg) no-repeat center / contain;
  transition: 0.3s;
}

/* 언어 리스트 */
header .header_container_right .lang #gnb {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  /* transform: scale(0); */
}
header .header_container_right .lang.active #gnb {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 145px;
  padding: 10px 0;
  background-color: #fff;
  border: 1px solid #000;
  opacity: 1;
  /* transform: scaleY(1); */
  /* transform-origin: 0 0; */
  transition: 0.3s;
}
header .header_container_right .lang #gnb li {
  margin-top: 10px;
}
header .header_container_right .lang #gnb li:first-of-type {
  margin-top: 0;
}
header .header_container_right .lang #gnb li a {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: #999;
}

header .header_container_right .lang #gnb li:first-of-type a {
  color: #000;
}

/* 오시는 길 */
header .header_container_right .header_map {
  display: block;
  width: 28px;
  height: 28px;
  background: url(./images/data_image_svg+xm.svg) no-repeat 50% / contain;
  margin-right: 20px;
}

/* 검색 */
header .header_container_right .header_search {
  display: block;
  width: 28px;
  height: 28px;
  background: url(./images/data_image_svg+xml_search_small.svg) no-repeat 50% / contain;
}

/* 메뉴 팝업 아이콘 */
header .header_container_right #menu {
  width: 30px;
  height: 21px;
  margin: 0 25px 0 105px;

  position: relative;
}
header .header_container_right #menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
}
header .header_container_right #menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #222;
}
header .header_container_right #menu span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background-color: #222;
}

/* ----- side_bar ----- */
.side_bar {
  position: fixed;
  right: 0;
  top: 100px;
  width: 80px;
  z-index: 10;

  transition: 0.3s;
}
.side_bar_search {
  position: relative;
  width: 100%;
  height: 285px;
  background-color: #1c1c1c;
  cursor: pointer;
}
.side_bar_search > span {
  display: block;
  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.35;
  color: #fff;
  transform: rotate(-90deg);
  word-break: keep-all;
  text-transform: capitalize;
}
.side_bar_search::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: url(./images/index_1/ico-search-wthie.svg) no-repeat center;
  background-size: contain;
}
.side_bar_search.scrolldown::after {
  bottom: 30px;
}
.side_Bar_util {
  position: relative;
}
.side_Bar_util button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #ffe141;
  cursor: pointer;
}
.side_Bar_util button:hover .side_bar_hov_icon li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s;
}
.side_Bar_util button:hover .side_bar_hov_icon li:nth-child(2) {
  transition-delay: 0.2s;
}
.side_bar_hov_icon {
  position: absolute;
  top: 80px;
  width: 100%;
}
.side_bar_hov_icon li {
  position: relative;
  margin-top: 30px;
  text-align: center;
  transform: translateY(-100px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.side_bar_hov_icon li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  transition: all 0.4s;
}
.facebook_icon {
  background-image: url(./images/index_1/data_image_svg+xml\,….svg);
}
.twitter_icon {
  background-image: url(./images/index_1/data_image_svg+xml.twitter.svg);
}

/*---- Main Sub-Menu Page ----*/
.main_page {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_menu_page {
  display: flex;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: 180px 24px;
  background-color: #f5f5f5;
  overflow: hidden;
  touch-action: none;
  opacity: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 200;
}
.main_menu_page.open {
  top: 0;
  opacity: 1;
}
.icon_close {
  position: absolute;
  right: 70px;
  top: 70px;
  transform: rotate(-0.25turn);
  transition: 0.2s;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(./images/index_1/main_menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  appearance: none;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  background-color: inherit;
}
.icon_close:hover {
  transform: rotate(0turn);
}
.icon_close > span {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  border: 0;
}
.gnb_menu_inner {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 394px;
}
.gnb_menu_inner::after {
  content: '';
  position: absolute;
  bottom: -854px;
  left: -579px;
  width: 1417px;
  height: 1417px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffe141 23.74%, rgba(245, 245, 245, 0) 95.43%);
  z-index: -1;
}
.menu_logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 272px;
  height: 54px;

  transform: translate3d(-50px, 0, 0);
  opacity: 0;
  transition: 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.3s;
}
.main_menu_page.open .menu_logo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.menu_logo > a {
  display: block;
  height: 100%;
  background: url(./images/index_1/ci.svg) no-repeat center;
  background-size: contain;
  font-size: 0;
}
.gnb_main_menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 60px 120px;

  transform: translate3d(-50px, 0, 0);
  opacity: 0;
  transition: 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  transition-delay: 0.3s;
}
.main_menu_page.open .gnb_main_menu {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.gnb_main_menu > li {
  position: relative;
  transition: 0.5s;
}
.gnb_main_menu > li > h2 {
  display: block;
  margin-bottom: 32px;
  font-family: Lora;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: capitalize;
}
#gnb_main_submenu > li > a {
  font-size: 24px;
  line-height: 2;
}
#gnb_main_submenu > li > a:hover {
  text-decoration: underline;
}

/*******************/

/* 전체 컨테이너 */
.solutions_container {
  padding: 88px 0 572px;
  margin-bottom: -572px;
}
.solutions_wrapper {
  padding: 100px 0 200px;
}

/* nav */
nav {
  position: relative;
  margin-bottom: 120px;
}
.nav_wrapper {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
nav #nav_list {
  display: flex;
  align-items: center;
}
nav #nav_list a {
  color: #999999;
  font-size: 16px;
  line-height: 1.6;
}
nav #nav_list li:last-of-type {
  position: relative;
}
nav #nav_list li:last-of-type::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 1px;
  background-color: #1c1c1c;
}
nav #nav_list .solution_pop .solution {
  padding-left: 52px;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.3s;
}
nav #nav_list .solution_pop.active .solution::after {
  transform: rotate(180deg);
}
nav #nav_list .solution_pop .solution::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url(./images/ico-arrow-down.svg) no-repeat center / contain;
  transition: 0.3s;
}
/* 페이지 목록 열림 */
nav #nav_list .solution_pop #solutions_nav_list {
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* 페이지 목록 */
nav #nav_list .solution_pop.active #solutions_nav_list {
  height: 188px;
  position: absolute;
  left: 32px;
  top: 35px;
  z-index: 1;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #1c1c1c;
  padding: 20px 24px;
  transform: scaleY(1);
  transform-origin: 50% 0;
  opacity: 1;
  transition: 0.3s;
}
#solutions_nav_list li {
  margin-top: 14px;
}
#solutions_nav_list li:first-of-type {
  margin-top: 0;
}
#solutions_nav_list li:last-of-type::before {
  display: none;
}
#solutions_nav_list li .strong {
  color: #000;
}
#solutions_nav_list li a:hover {
  color: #000;
  text-decoration: underline;
}

/* 페이지 타이틀 */
nav h1 {
  font-size: 72px;
  font-family: 'Lora', serif;
  font-weight: 600;
  margin-top: 20px;
  display: flex;
  align-items: center;
  height: 70px;
  z-index: -9999;
}
nav h1::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  border-radius: 50%;
  background-color: #ffe141;
  align-self: flex-end;
}

/* main */
.wrapper {
  max-width: 1056px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* 검색창 */
main .wrapper .search {
  max-width: 1056px;
  margin: 0 auto 120px;
  border: none;
}
main .wrapper .search form {
  position: relative;
}
main .wrapper .search input {
  width: 100%;
  height: 72px;
  position: relative;
}
main .wrapper .search input::placeholder {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'NotoSansCJKkr';
  color: #999999;
}
main .wrapper .search input[type='text'] {
  text-indent: 20px;
  font-size: 24px;
  font-family: 'NotoSansCJKkr';
  border: #000 2px solid;
}
main .wrapper .search .search_icon {
  background: url(./images/data_image_svg+xml_search.svg) no-repeat 50% / contain;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
}

/* 메뉴 탭 */
main .tab_wrapper {
  position: relative;
}
main #tab_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-bottom: 60px;
}
main #tab_menu a {
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  color: #999999;
  white-space: nowrap;
}
main #tab_menu #tab1 a {
  padding-left: 24px;
  position: relative;
}
main #tab_menu #tab1 a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffe141 0, rgba(225, 225, 65, 0) 100%);
}
main #tab_menu .subject {
  color: #1c1c1c;
}
main .tab_all {
  line-height: 1.62;
  color: #999;
  position: absolute;
  right: 0;
  top: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
main .tab_all::after {
  content: '';
  width: 18px;
  height: 18px;
  background: url(./images/plus.svg) no-repeat center / contain;
}

/************************************/
main .tab_item_wrapper {
  display: flex;
  gap: 32px;
}
#tab_item1,
#tab_item2 {
  width: calc(50% - 16px);
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#tab_item1 li,
#tab_item2 li {
  background-color: #f5f5f5;
  border: 4px solid #f5f5f5;
  transition: 0.3s;
}
#tab_item1 li a,
#tab_item2 li a {
  font-size: 20px;
  padding: 15px 26px 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#tab_item1 li a::after,
#tab_item2 li a::after {
  content: '';
  width: 32px;
  height: 32px;
  background: url(./images/plus.svg) no-repeat center / contain;
}
main .tab_item_wrapper #tab_item1 li:first-child.on {
  background-color: #fff;
  border-color: #ffe141;
  transition: 0.3s;
}
main .tab_item_wrapper #tab_item1 li:first-child.on > a {
  font-weight: 700;
}
main .tab_item_wrapper #tab_item1 li:first-child.on .item_accordion {
  height: 250px;
  display: flex;
  margin: 0 30px 50px;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
  opacity: 1;
}
main .tab_item_wrapper #tab_item1 li:first-child.on .item_accordion .item_1 li {
  width: 50%;
  background-color: transparent;
  border-color: transparent;
  line-height: 1.7;
  color: #555;
  cursor: pointer;
}

main .tab_item_wrapper #tab_item1 li:first-child.on .item_accordion .item_1 {
  display: flex;
  flex-wrap: wrap;
  width: 444px;
}
main .tab_item_wrapper #tab_item1 li .item_accordion {
  opacity: 0;
  height: 0;
  overflow: hidden;
  width: 444px;
}

/************** footer **************/
footer {
  background-color: #f5f5f5;
  height: 590px;
  padding: 80px 0;
}
.mainfooter {
  display: flex;
  justify-content: center;
  position: relative;
}
/* 위로올라가기 아이콘 */
footer h1 {
  background-color: #1c1c1c;
  border: 3px solid #1c1c1c;
  width: 60px;
  height: 60px;
  line-height: 40px;
  position: absolute;
  right: 150px;
  top: -90px;
  text-align: center;
  padding-top: 5px;
  margin-top: -20px;
}
footer h1 a {
  text-decoration: none;
  color: white;
  background-color: #1c1c1c;
  font-size: 30px;
}

.subcontainer strong {
  color: black;
}
.subcontainer {
  height: 400px;
  margin: 0 100px;
  width: 1600px;
}
footer .inner ul {
  display: flex;
  gap: 194px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #1c1c1c;
}

footer .inner ul a {
  display: block;
  color: #1c1c1c;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Lora', serif;
  font-weight: 600;
}
footer .inner ul a:hover {
  text-decoration: underline;
}
.footerlogo {
  display: block;
  width: 170px;
  height: 34px;
  background: url(./images/law.svg) no-repeat 50%;
  background-size: contain;
  margin-bottom: 48px;
}
.footer_grid {
  color: #1c1c1c;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1f;
  font-size: 12.32px;
}
.footer_grid1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.footer_grid2 {
  grid-column: 2/3;
  grid-row: 1/4;
}
.footer_grid2 a:hover {
  text-decoration: underline;
}
.footer_grid3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer_grid3 li {
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 1.6;
}
.footer_grid4 {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 20px 0 20px;
  display: flex;
}
.footer_grid4 li a {
  background-image: url(./images/search.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}
.footer_grid4 .in {
  background: url(./images/in.svg) no-repeat;
  /* background-size: 20px; */
  /* background-position: 50%; */
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.footer_grid4 .youtube {
  background: url(./images/youtube.svg) no-repeat;
  /* background-size: 25px;
  background-position: 50%; */
  display: inline-block;
  width: 28px;
  height: 28px;
}
.footer_grid5 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-family: Lora;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #1c1c1c;
  letter-spacing: 0;
}
.footer_grid6 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem 28px;
  font-size: 14px;
  line-height: 2;
}
.footer_grid6 li {
  position: relative;
  cursor: pointer;
  text-align: right;
}
.footer_grid6 li:hover {
  text-decoration: underline;
}

.footer_grid6 li ~ li::before {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #ddd;
}
.footer_grid2 .family {
  font-size: 16px;
  margin-bottom: 12px;
  grid-row: 1 / 3;
  font-family: 'Lora';
  line-height: 1.6;
}
.footer_grid2 li {
  text-align: right;
  padding: 2px 0;
}
.footer_grid2 a {
  font-size: 14px;
  line-height: 2;
}
